html {
	font-size: 16px;
}
body {
	position: absolute;
	font-family: Helvetica;
	background-color: black;
	width: 100%;
	height: 100%;
}
header {
	background: #f90;
	vertical-align: middle;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 4rem;
}
header h1 {
	text-align: center;
	text-shadow: 
	   -1px -1px 0 rgba(0,0,0,0.6),  
	    1px -1px 0 rgba(0,0,0,0.6),
	    -1px 1px 0 rgba(0,0,0,0.6),
	    1px 1px 0 rgba(0,0,0,0.6);
	margin: 0.666rem auto;
	font-size: 1rem;
	flex: 0.666;
	color: white;
}
/**/
header .hamburger {
	display: block;
	position: absolute;
	font-size: 1.666rem;
	padding: 0.333rem;
	background: transparent;
	color: black;
	cursor: pointer;
}
header .hamburger:hover {
	cursor: pointer;
}
header nav {
	position: fixed;
	left: 0;
	top: 4rem;
	bottom: 0;
	right: 0;
	padding: 1.666rem 0;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.888);
	background-size: 77%;

	transform: translate3d(-100%, 0, 0);
	transition: transform 1s;
	z-index: 666;
}
header nav.visible {
	transform: translate3d(0, 0, 0);
	transition: transform 1s;

}
/* todo: remove it? */
header nav button {
	display: block;
	font-size: 1.666rem;
	text-align: center;
	margin: 0.666rem auto;
	background: black;
	color: #f90;
	text-decoration: none;
	max-width: 13rem;
	padding: 0.666rem 0.333rem;
	border: 1px solid #f90;
}
header nav button:hover {
	transition: transform 1s;
	transform: scale3d(1.333,1.333,1);
}
/**/
.twister-field {
	position: absolute;
	left: 0; right: 0;
	display: grid;
	grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
	grid-template-columns: 0.16fr 0.16fr 0.16fr 0.16fr 0.16fr 0.16fr;
	background-color: white;
	padding: 3rem 2rem;
	justify-content: end;
}
.twister-field-cell {
	position: relative;
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 666%;
	font-family: monospace;
	font-size: 3.33rem;
	text-align: center;
	line-height: 4rem;
	border: 0.333rem solid white;
	cursor: default;	
}
.twister-field-cell.occupied {
	border: 0.333rem solid black;
	cursor: pointer;
}
.twister-field-cell.r { background-color: red; }
.twister-field-cell.b { background-color: blue; }
.twister-field-cell.y { background-color: yellow; }
.twister-field-cell.g { background-color: green; }

#info {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 33vw;
	border: 1px solid gray;
	transform: translate(-50%, -50%);
	opacity: 0.1;
	text-align: center;
    font-size: 2rem;
    background: black;
    color: #f90;
    padding: 6.66rem;
}
#info.visible {
	display: block;
	opacity: 1;
	transition: opacity 1s;
}

button {
	background: black;
	color: white;
	font-size: 1rem;
	width: 6.66rem;
	cursor: pointer;
}



input[type=text] {
	display: block;
	margin: auto;
	margin-top: 0.666rem;
	font-size: 2rem;
}

.controls {
	margin-top: 0.666rem;
}

.github-link {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100500;
}

@media (max-width: 512px) {
	.github-link img {
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 512px) {
	.twister-field {
		width: 45vw;
	}
}

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 8.3rem;
	bottom: 0;
	margin-left: 3rem;
}

.players-info {
	background: white;
	color: black;
	display: block;
	width: 36%;
	padding: 1rem;
	margin-right: 9rem;
}

.players-info > ul {
	padding: 1rem;
}

ul li {
	font-size: 1.333rem;
}

li ul {
	margin-left: 1rem;
}

li.li-first {
	float: left;
	margin: 1rem;
}

li.li-first ul {
	margin-top: 0.666rem;
}

@media screen and (max-width: 1000px) {
	.twister-field {
		display: none;

		transform: rotate(270deg) translate(-26%, -37%);
		top: 0;
		bottom: 0;
		width: 100vh;
		height: 100vw;
		margin-left: 0;
	}
	.players-info {
		margin-right: 0;
	}
	main {
		display: block;
		top: 4rem;
	}
}